# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Temporary files
*.swp
*.swo
*.temp
*.tmp
temp.*
temp/

##############################
# Source file: https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix
