---
name: ${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}
networks:
  backend:
    name: ${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}-backend
    driver: bridge
services:
  # https://hub.docker.com/_/postgres
  clamav:
    hostname: clamav
    image: ${PODMAN_CLAMAV_IMAGE}
    restart: always
    networks:
      - backend
    volumes:
      # private
      - type: bind
        source: "${PODMAN_CLAMAV_DATA_DIR_HOST}"
        target: "${PODMAN_CLAMAV_DATA_DIR_CONTAINER}"
        bind:
          selinux: Z
  manager:
    hostname: manager
    restart: always
    networks:
      - backend
    volumes:
      # private
      - type: bind
        source: "${PODMAN_PHPFPM_CRON_ROOT_FILE_HOST}"
        target: "${PODMAN_PHPFPM_CRON_ROOT_FILE_CONTAINER}"
        read_only: true
        bind:
          selinux: Z
      - type: bind
        source: "${PODMAN_MANAGER_NEXTCLOUD_SETUP_SCRIPT_FILE_HOST}"
        target: "${PODMAN_MANAGER_NEXTCLOUD_SETUP_SCRIPT_FILE_CONTAINER}"
        read_only: true
        bind:
          selinux: Z
      - type: bind
        source: "${PODMAN_MANAGER_NEXTCLOUD_CONFIG_SCRIPT_FILE_HOST}"
        target: "${PODMAN_MANAGER_NEXTCLOUD_CONFIG_SCRIPT_FILE_CONTAINER}"
        read_only: true
        bind:
          selinux: Z
      # shared
      - type: bind
        source: "${PODMAN_PHPFPM_CONF_FILE_HOST}"
        target: "${PODMAN_PHPFPM_CONF_FILE_CONTAINER}"
        read_only: true
        bind:
          selinux: z
      - type: bind
        source: "${PODMAN_PHPFPM_INI_FILE_HOST}"
        target: "${PODMAN_PHPFPM_INI_FILE_CONTAINER}"
        read_only: true
        bind:
          selinux: z
      - type: bind
        source: "${PODMAN_NEXTCLOUD_DATA_DIR_HOST}"
        target: "${PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER}"
        bind:
          selinux: z
      - type: bind
        source: "${PODMAN_NEXTCLOUD_USER_DATA_DIR_HOST}"
        target: "${PODMAN_NEXTCLOUD_USER_DATA_DIR_CONTAINER}"
        bind:
          selinux: z
    environment:
      # Storage
      - PODMAN_PHPFPM_CRON_ROOT_FILE_CONTAINER=${PODMAN_PHPFPM_CRON_ROOT_FILE_CONTAINER}
      - PODMAN_MANAGER_NEXTCLOUD_SETUP_SCRIPT_FILE_CONTAINER=${PODMAN_MANAGER_NEXTCLOUD_SETUP_SCRIPT_FILE_CONTAINER}
      - PODMAN_MANAGER_NEXTCLOUD_CONFIG_SCRIPT_FILE_CONTAINER=${PODMAN_MANAGER_NEXTCLOUD_CONFIG_SCRIPT_FILE_CONTAINER}
      - PODMAN_PHPFPM_CONF_FILE_CONTAINER=${PODMAN_PHPFPM_CONF_FILE_CONTAINER}
      - PODMAN_PHPFPM_INI_FILE_CONTAINER=${PODMAN_PHPFPM_INI_FILE_CONTAINER}
      - PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER=${PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER}
      - PODMAN_NEXTCLOUD_USER_DATA_DIR_CONTAINER=${PODMAN_NEXTCLOUD_USER_DATA_DIR_CONTAINER}
      # SQL databases
      - PODMAN_SQL_DATABASE=${PODMAN_SQL_DATABASE}
      # MariaDB
      - MARIADB_HOST=${MARIADB_HOST}
      - MARIADB_DB=${MARIADB_DB}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      # Postgres
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      # Key-value databases
      - PODMAN_KEY_VALUE_DATABASE=${PODMAN_KEY_VALUE_DATABASE}
      # Valkey
      - VALKEY_HOST=${VALKEY_HOST}
      - VALKEY_PORT=${VALKEY_PORT}
      - VALKEY_USER=${VALKEY_USER}
      - VALKEY_PASSWORD=${VALKEY_PASSWORD}
      # Nextcloud
      - NEXTCLOUD_VERSION=${NEXTCLOUD_VERSION}
      - NEXTCLOUD_MAINTENANCE=${NEXTCLOUD_MAINTENANCE}
      - NC_dbpersistent=${NEXTCLOUD_PERSISTENT_DATABASE_CONNECTION}
      - NC_admin_user=${NEXTCLOUD_ADMIN_USER}
      - NC_admin_password=${NEXTCLOUD_ADMIN_PASSWORD}
      - NEXTCLOUD_DOMAIN=${NEXTCLOUD_DOMAIN}
      # - NC_trusted_domains=${NEXTCLOUD_TRUSTED_DOMAINS}
      - NEXTCLOUD_TRUSTED_DOMAINS=${NEXTCLOUD_TRUSTED_DOMAINS}
      - NC_datadirectory=${PODMAN_NEXTCLOUD_USER_DATA_DIR_CONTAINER}
      - NC_default_language=${NEXTCLOUD_DEFAULT_LANGUAGE}
      - NC_default_phone_region=${NEXTCLOUD_DEFAULT_PHONE_REGION}
      - NC_default_timezone=${NEXTCLOUD_DEFAULT_TIMEZONE}
      - NC_knowledgebaseenabled=${NEXTCLOUD_KNOWLEDGEBASE_ENABLED}
      - NC_allow_user_to_change_display_name=${NEXTCLOUD_ALLOW_USER_TO_CHANGE_DISPLAY_NAME}
      - NC_skeletondirectory=${NEXTCLOUD_SKELETON_DIRECTORY}
      - NC_templatedirectory=${NEXTCLOUD_TEMPLATE_DIRECTORY}
      - NC_remember_login_cookie_lifetime=${NEXTCLOUD_REMEMBER_LOGIN_COOKIE_LIFETIME}
      - NC_session_lifetime=${NEXTCLOUD_SESSION_LIFETIME}
      - NC_davstorage.request_timeout=${NEXTCLOUD_DAVSTORAGE_REQUEST_TIMEOUT}
      - NC_carddav_sync_request_timeout=${NEXTCLOUD_CARDDAV_SYNC_REQUEST_TIMEOUT}
      - NC_carddav_sync_request_truncation=${NEXTCLOUD_CARDDAV_SYNC_REQUEST_TRUNCATION}
      - NC_session_relaxed_expiry=${NEXTCLOUD_SESSION_RELAXED_EXPIRY}
      - NC_session_keepalive=${NEXTCLOUD_SESSION_KEEPALIVE}
      - NEXTCLOUD_APPS_INSTALLED=${NEXTCLOUD_APPS_INSTALLED}
      - NEXTCLOUD_APPS_REMOVED=${NEXTCLOUD_APPS_REMOVED}
      - NEXTCLOUD_APPS_ENABLED=${NEXTCLOUD_APPS_ENABLED}
      - NEXTCLOUD_APPS_DISABLED=${NEXTCLOUD_APPS_DISABLED}
      - NEXTCLOUD_REDIS_DBINDEX=${NEXTCLOUD_REDIS_DBINDEX}
      - NEXTCLOUD_REDIS_TIMEOUT=${NEXTCLOUD_REDIS_TIMEOUT}
      - NEXTCLOUD_REDIS_READ_TIMEOUT=${NEXTCLOUD_REDIS_READ_TIMEOUT}
      - WHITEBOARD_JWT_SECRET_KEY=${WHITEBOARD_JWT_SECRET_KEY}
      # Apps
      - CLAMAV_AV_HOST=${CLAMAV_AV_HOST}
      - CLAMAV_AV_PORT=${CLAMAV_AV_PORT}
      - CLAMAV_AV_MODE=${CLAMAV_AV_MODE}
      - CLAMAV_AV_SOCKET=${CLAMAV_AV_SOCKET}
      - CLAMAV_AV_CMD_OPTIONS=${CLAMAV_AV_CMD_OPTIONS}
      - CLAMAV_AV_INFECTION_ACTION=${CLAMAV_AV_INFECTION_ACTION}
      - CLAMAV_AV_STREAM_MAX_LENGTH=${CLAMAV_AV_STREAM_MAX_LENGTH}
      - CLAMAV_AV_MAX_FILE_SIZE=${CLAMAV_AV_MAX_FILE_SIZE}
      - CLAMAV_AV_SCAN_FIRST_BYTES=${CLAMAV_AV_SCAN_FIRST_BYTES}
      - CLAMAV_AV_ICAP_MODE=${CLAMAV_AV_ICAP_MODE}
      - CLAMAV_AV_ICAP_REQUEST_SERVICE=${CLAMAV_AV_ICAP_REQUEST_SERVICE}
      - CLAMAV_AV_ICAP_RESPONSE_HEADER=${CLAMAV_AV_ICAP_RESPONSE_HEADER}
      - CLAMAV_AV_ICAP_TLS=${CLAMAV_AV_ICAP_TLS}
      - CLAMAV_AV_BLOCK_UNSCANNABLE=${CLAMAV_AV_BLOCK_UNSCANNABLE}
      - CLAMAV_AV_BLOCK_UNREACHABLE=${CLAMAV_AV_BLOCK_UNREACHABLE}
    build:
      context: .
      dockerfile: "${PWD}/compose/manager/manager"
      args:
        PODMAN_PHPFPM_IMAGE: ${PODMAN_PHPFPM_IMAGE}
        PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER: ${PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER}
  # https://hub.docker.com/_/mariadb
  mariadb:
    hostname: mariadb
    image: ${PODMAN_MARIADB_IMAGE}
    restart: always
    profiles:
      - mariadb
    networks:
      - backend
    volumes:
      # private
      - type: bind
        source: "${PODMAN_MARIADB_DATA_DIR_HOST}"
        target: "${PODMAN_MARIADB_DATA_DIR_CONTAINER}"
        bind:
          selinux: Z
      # Uncomment if you want to use a custom mariadb.conf file:
      # - type: bind
      #   source: "${PODMAN_MARIADB_CONF_FILE_HOST}"
      #   target: "${PODMAN_MARIADB_CONF_FILE_CONTAINER}"
      #   read_only: true
      #   bind:
      #     selinux: Z
    environment:
      - MARIADB_DATABASE=${MARIADB_DB}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - MARIADB_AUTO_UPGRADE=${MARIADB_AUTO_UPGRADE}
  # https://hub.docker.com/_/nginx
  nginx:
    hostname: nginx
    image: ${PODMAN_NGINX_IMAGE}
    restart: always
    networks:
      - backend
    volumes:
      # private
      - type: bind
        source: "${PODMAN_NGINX_CONF_DIR_HOST}"
        target: "${PODMAN_NGINX_CONF_DIR_CONTAINER}"
        read_only: true
        bind:
          selinux: Z
      - type: bind
        source: "${PODMAN_SSL_DIR_HOST}"
        target: "${PODMAN_NGINX_SSL_DIR_CONTAINER}"
        read_only: true
        bind:
          selinux: Z
      # shared
      - type: bind
        source: "${PODMAN_NEXTCLOUD_DATA_DIR_HOST}"
        target: "${PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER}"
        bind:
          selinux: z
      - type: bind
        source: "${PODMAN_NEXTCLOUD_USER_DATA_DIR_HOST}"
        target: "${PODMAN_NEXTCLOUD_USER_DATA_DIR_CONTAINER}"
        bind:
          selinux: z
    ports:
      - 80:80
      # - 80:80/udp
      - 443:443
      # - 443:443/udp
  # https://hub.docker.com/_/php
  phpfpm:
    hostname: phpfpm
    restart: always
    networks:
      - backend
    volumes:
      # private
      - type: bind
        source: "${PODMAN_PHPFPM_CRON_ROOT_FILE_HOST}"
        target: "${PODMAN_PHPFPM_CRON_ROOT_FILE_CONTAINER}"
        read_only: true
        bind:
          selinux: Z
      # shared
      - type: bind
        source: "${PODMAN_PHPFPM_CONF_FILE_HOST}"
        target: "${PODMAN_PHPFPM_CONF_FILE_CONTAINER}"
        read_only: true
        bind:
          selinux: z
      - type: bind
        source: "${PODMAN_PHPFPM_INI_FILE_HOST}"
        target: "${PODMAN_PHPFPM_INI_FILE_CONTAINER}"
        read_only: true
        bind:
          selinux: z
      - type: bind
        source: "${PODMAN_NEXTCLOUD_DATA_DIR_HOST}"
        target: "${PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER}"
        bind:
          selinux: z
      - type: bind
        source: "${PODMAN_NEXTCLOUD_USER_DATA_DIR_HOST}"
        target: "${PODMAN_NEXTCLOUD_USER_DATA_DIR_CONTAINER}"
        bind:
          selinux: z
    environment:
      - NC_dbpersistent=${NEXTCLOUD_PERSISTENT_DATABASE_CONNECTION}
      # - NC_trusted_domains=${NEXTCLOUD_TRUSTED_DOMAINS}
      - NC_datadirectory=${PODMAN_NEXTCLOUD_USER_DATA_DIR_CONTAINER}
      - NC_default_language=${NEXTCLOUD_DEFAULT_LANGUAGE}
      - NC_default_phone_region=${NEXTCLOUD_DEFAULT_PHONE_REGION}
      - NC_default_timezone=${NEXTCLOUD_DEFAULT_TIMEZONE}
      - NC_knowledgebaseenabled=${NEXTCLOUD_KNOWLEDGEBASE_ENABLED}
      - NC_allow_user_to_change_display_name=${NEXTCLOUD_ALLOW_USER_TO_CHANGE_DISPLAY_NAME}
      - NC_skeletondirectory=${NEXTCLOUD_SKELETON_DIRECTORY}
      - NC_templatedirectory=${NEXTCLOUD_TEMPLATE_DIRECTORY}
      - NC_remember_login_cookie_lifetime=${NEXTCLOUD_REMEMBER_LOGIN_COOKIE_LIFETIME}
      - NC_session_lifetime=${NEXTCLOUD_SESSION_LIFETIME}
      - NC_davstorage.request_timeout=${NEXTCLOUD_DAVSTORAGE_REQUEST_TIMEOUT}
      - NC_carddav_sync_request_timeout=${NEXTCLOUD_CARDDAV_SYNC_REQUEST_TIMEOUT}
      - NC_carddav_sync_request_truncation=${NEXTCLOUD_CARDDAV_SYNC_REQUEST_TRUNCATION}
      - NC_session_relaxed_expiry=${NEXTCLOUD_SESSION_RELAXED_EXPIRY}
      - NC_session_keepalive=${NEXTCLOUD_SESSION_KEEPALIVE}
    build:
      context: .
      dockerfile: "${PWD}/compose/phpfpm/phpfpm"
      args:
        PODMAN_PHPFPM_IMAGE: ${PODMAN_PHPFPM_IMAGE}
        PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER: ${PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER}
  # https://hub.docker.com/_/postgres
  postgres:
    hostname: postgres
    image: ${PODMAN_POSTGRES_IMAGE}
    restart: always
    profiles:
      - postgres
    networks:
      - backend
    volumes:
      # private
      - type: bind
        source: "${PODMAN_POSTGRES_DATA_DIR_HOST}"
        target: "${PODMAN_POSTGRES_DATA_DIR_CONTAINER}"
        bind:
          selinux: Z
      # Uncomment if you want to use a custom postgresql.conf file:
      # - type: bind
      #   source: "${PODMAN_POSTGRES_CONF_FILE_HOST}"
      #   target: "${PODMAN_POSTGRES_CONF_FILE_CONTAINER}"
      #   read_only: true
      #   bind:
      #     selinux: Z
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - PGDATA=${PODMAN_POSTGRES_DATA_DIR_CONTAINER}
  # https://hub.docker.com/r/valkey/valkey/
  valkey:
    hostname: valkey
    restart: always
    networks:
      - backend
    volumes:
      # private
      - type: bind
        source: "${PODMAN_VALKEY_DATA_DIR_HOST}"
        target: "${PODMAN_VALKEY_DATA_DIR_CONTAINER}"
        bind:
          selinux: Z
      # Uncomment if you want to use a custom valkey.conf file:
      # - type: bind
      #   source: "${PODMAN_VALKEY_CONF_FILE_HOST}"
      #   target: "${PODMAN_VALKEY_CONF_FILE_CONTAINER}"
      #   read_only: true
      #   bind:
      #     selinux: Z
    environment:
      - PODMAN_VALKEY_CONF_FILE_CONTAINER=${PODMAN_VALKEY_CONF_FILE_CONTAINER}
    build:
      context: .
      dockerfile: "${PWD}/compose/valkey/valkey"
      args:
        PODMAN_VALKEY_IMAGE: ${PODMAN_VALKEY_IMAGE}
        VALKEY_CONFIG_URL: ${VALKEY_CONFIG_URL}
  # https://github.com/nextcloud/whiteboard
  whiteboard:
    hostname: whiteboard
    image: ${PODMAN_WHITEBOARD_IMAGE}
    restart: always
    networks:
      - backend
    environment:
      - STORAGE_STRATEGY=${WHITEBOARD_STORAGE_STRATEGY}
      - NEXTCLOUD_URL=https://${NEXTCLOUD_DOMAIN}
      - JWT_SECRET_KEY=${WHITEBOARD_JWT_SECRET_KEY}
      - REDIS_URL=redis://${VALKEY_HOST}
