---
name: ${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}
networks:
  backend:
    name: ${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}-network-backend
    driver: bridge
    enable_ipv4: true
    enable_ipv6: true
    labels:
      - "io.podman.compose.project=${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}"
services:
  # https://hub.docker.com/r/clamav/clamav/
  clamav:
    hostname: clamav
    image: ${PODMAN_CLAMAV_IMAGE}
    restart: always
    entrypoint: ["/init-unprivileged"]
    networks:
      - backend
    labels:
      - "io.podman.compose.project=${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}"
      - "PODMAN_SYSTEMD_UNIT=podman-compose@${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}.service"
    user: "${PODMAN_USER_UID}:${PODMAN_GROUP_GID}"
    userns_mode: "keep-id"
    volumes:
      # private
      - ${PODMAN_CLAMAV_DATA_DIR_HOST}:${PODMAN_CLAMAV_DATA_DIR_CONTAINER}:Z
      - ${PODMAN_CLAMAV_LOG_DIR_HOST}:${PODMAN_CLAMAV_LOG_DIR_CONTAINER}:Z
  manager:
    hostname: manager
    restart: always
    networks:
      - backend
    labels:
      - "io.podman.compose.project=${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}"
      - "PODMAN_SYSTEMD_UNIT=podman-compose@${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}.service"
    user: "${PODMAN_USER_UID}:${PODMAN_GROUP_GID}"
    userns_mode: "keep-id"
    volumes:
      # private
      - ${PODMAN_MANAGER_CRON_ROOT_FILE_HOST}:${PODMAN_MANAGER_CRON_ROOT_FILE_CONTAINER}:ro,Z
      - ${PODMAN_MANAGER_NEXTCLOUD_SETUP_SCRIPT_FILE_HOST}:${PODMAN_MANAGER_NEXTCLOUD_SETUP_SCRIPT_FILE_CONTAINER}:ro,Z
      - ${PODMAN_MANAGER_NEXTCLOUD_CONFIG_SCRIPT_FILE_HOST}:${PODMAN_MANAGER_NEXTCLOUD_CONFIG_SCRIPT_FILE_CONTAINER}:ro,Z
      # shared
      - ${PODMAN_PHPFPM_CONF_FILE_HOST}:${PODMAN_PHPFPM_CONF_FILE_CONTAINER}:ro,z
      - ${PODMAN_PHPFPM_INI_FILE_HOST}:${PODMAN_PHPFPM_INI_FILE_CONTAINER}:ro,z
      - ${PODMAN_NEXTCLOUD_DATA_DIR_HOST}:${PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER}:z
      - ${PODMAN_NEXTCLOUD_USER_DATA_DIR_HOST}:${PODMAN_NEXTCLOUD_USER_DATA_DIR_CONTAINER}:z
    environment:
      # Storage
      - PODMAN_MANAGER_CRON_ROOT_FILE_CONTAINER=${PODMAN_MANAGER_CRON_ROOT_FILE_CONTAINER}
      - PODMAN_MANAGER_NEXTCLOUD_SETUP_SCRIPT_FILE_CONTAINER=${PODMAN_MANAGER_NEXTCLOUD_SETUP_SCRIPT_FILE_CONTAINER}
      - PODMAN_MANAGER_NEXTCLOUD_CONFIG_SCRIPT_FILE_CONTAINER=${PODMAN_MANAGER_NEXTCLOUD_CONFIG_SCRIPT_FILE_CONTAINER}
      - PODMAN_PHPFPM_CONF_FILE_CONTAINER=${PODMAN_PHPFPM_CONF_FILE_CONTAINER}
      - PODMAN_PHPFPM_INI_FILE_CONTAINER=${PODMAN_PHPFPM_INI_FILE_CONTAINER}
      - PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER=${PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER}
      - PODMAN_NEXTCLOUD_USER_DATA_DIR_CONTAINER=${PODMAN_NEXTCLOUD_USER_DATA_DIR_CONTAINER}
      # SQL databases
      - PODMAN_SQL_DATABASE=${PODMAN_SQL_DATABASE}
      # MariaDB
      - MARIADB_HOST=${MARIADB_HOST}
      - MARIADB_DB=${MARIADB_DB}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      # MySQL
      - MYSQL_HOST=${MYSQL_HOST}
      - MYSQL_DB=${MYSQL_DB}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      # Postgres
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      # Key-value databases
      - PODMAN_KEY_VALUE_DATABASE=${PODMAN_KEY_VALUE_DATABASE}
      # Valkey
      - VALKEY_HOST=${VALKEY_HOST}
      - VALKEY_PORT=${VALKEY_PORT}
      - VALKEY_USER=${VALKEY_USER}
      - VALKEY_PASSWORD=${VALKEY_PASSWORD}
      # Nextcloud
      - NEXTCLOUD_VERSION=${NEXTCLOUD_VERSION}
      - NEXTCLOUD_MAINTENANCE=${NEXTCLOUD_MAINTENANCE}
      - NC_dbpersistent=${NEXTCLOUD_PERSISTENT_DATABASE_CONNECTION}
      - NC_admin_user=${NEXTCLOUD_ADMIN_USER}
      - NC_admin_password=${NEXTCLOUD_ADMIN_PASSWORD}
      - NEXTCLOUD_DOMAIN=${NEXTCLOUD_DOMAIN}
      # - NC_trusted_domains=${NEXTCLOUD_TRUSTED_DOMAINS}
      - NEXTCLOUD_TRUSTED_DOMAINS=${NEXTCLOUD_TRUSTED_DOMAINS}
      - NC_datadirectory=${PODMAN_NEXTCLOUD_USER_DATA_DIR_CONTAINER}
      - NC_default_language=${NEXTCLOUD_DEFAULT_LANGUAGE}
      - NC_default_phone_region=${NEXTCLOUD_DEFAULT_PHONE_REGION}
      - NC_default_timezone=${NEXTCLOUD_DEFAULT_TIMEZONE}
      - NC_knowledgebaseenabled=${NEXTCLOUD_KNOWLEDGEBASE_ENABLED}
      - NC_allow_user_to_change_display_name=${NEXTCLOUD_ALLOW_USER_TO_CHANGE_DISPLAY_NAME}
      - NC_skeletondirectory=${NEXTCLOUD_SKELETON_DIRECTORY}
      - NC_templatedirectory=${NEXTCLOUD_TEMPLATE_DIRECTORY}
      - NC_remember_login_cookie_lifetime=${NEXTCLOUD_REMEMBER_LOGIN_COOKIE_LIFETIME}
      - NC_session_lifetime=${NEXTCLOUD_SESSION_LIFETIME}
      - NC_davstorage.request_timeout=${NEXTCLOUD_DAVSTORAGE_REQUEST_TIMEOUT}
      - NC_carddav_sync_request_timeout=${NEXTCLOUD_CARDDAV_SYNC_REQUEST_TIMEOUT}
      - NC_carddav_sync_request_truncation=${NEXTCLOUD_CARDDAV_SYNC_REQUEST_TRUNCATION}
      - NC_session_relaxed_expiry=${NEXTCLOUD_SESSION_RELAXED_EXPIRY}
      - NC_session_keepalive=${NEXTCLOUD_SESSION_KEEPALIVE}
      - NEXTCLOUD_APPS_INSTALLED=${NEXTCLOUD_APPS_INSTALLED}
      - NEXTCLOUD_APPS_REMOVED=${NEXTCLOUD_APPS_REMOVED}
      - NEXTCLOUD_APPS_ENABLED=${NEXTCLOUD_APPS_ENABLED}
      - NEXTCLOUD_APPS_DISABLED=${NEXTCLOUD_APPS_DISABLED}
      - NEXTCLOUD_REDIS_DBINDEX=${NEXTCLOUD_REDIS_DBINDEX}
      - NEXTCLOUD_REDIS_TIMEOUT=${NEXTCLOUD_REDIS_TIMEOUT}
      - NEXTCLOUD_REDIS_READ_TIMEOUT=${NEXTCLOUD_REDIS_READ_TIMEOUT}
      - WHITEBOARD_JWT_SECRET_KEY=${WHITEBOARD_JWT_SECRET_KEY}
      # Apps
      - CLAMAV_AV_HOST=${CLAMAV_AV_HOST}
      - CLAMAV_AV_PORT=${CLAMAV_AV_PORT}
      - CLAMAV_AV_MODE=${CLAMAV_AV_MODE}
      - CLAMAV_AV_SOCKET=${CLAMAV_AV_SOCKET}
      - CLAMAV_AV_CMD_OPTIONS=${CLAMAV_AV_CMD_OPTIONS}
      - CLAMAV_AV_INFECTION_ACTION=${CLAMAV_AV_INFECTION_ACTION}
      - CLAMAV_AV_STREAM_MAX_LENGTH=${CLAMAV_AV_STREAM_MAX_LENGTH}
      - CLAMAV_AV_MAX_FILE_SIZE=${CLAMAV_AV_MAX_FILE_SIZE}
      - CLAMAV_AV_SCAN_FIRST_BYTES=${CLAMAV_AV_SCAN_FIRST_BYTES}
      - CLAMAV_AV_ICAP_MODE=${CLAMAV_AV_ICAP_MODE}
      - CLAMAV_AV_ICAP_REQUEST_SERVICE=${CLAMAV_AV_ICAP_REQUEST_SERVICE}
      - CLAMAV_AV_ICAP_RESPONSE_HEADER=${CLAMAV_AV_ICAP_RESPONSE_HEADER}
      - CLAMAV_AV_ICAP_TLS=${CLAMAV_AV_ICAP_TLS}
      - CLAMAV_AV_BLOCK_UNSCANNABLE=${CLAMAV_AV_BLOCK_UNSCANNABLE}
      - CLAMAV_AV_BLOCK_UNREACHABLE=${CLAMAV_AV_BLOCK_UNREACHABLE}
    build:
      context: .
      dockerfile: "${PWD}/compose/manager/manager"
      args:
        PODMAN_PHPFPM_IMAGE: ${PODMAN_PHPFPM_IMAGE}
        PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER: ${PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER}
  # https://hub.docker.com/_/mariadb
  mariadb:
    hostname: mariadb
    image: ${PODMAN_MARIADB_IMAGE}
    restart: always
    profiles:
      - mariadb
    networks:
      - backend
    labels:
      - "io.podman.compose.project=${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}"
      - "PODMAN_SYSTEMD_UNIT=podman-compose@${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}.service"
    user: "${PODMAN_USER_UID}:${PODMAN_GROUP_GID}"
    userns_mode: "keep-id"
    volumes:
      # private
      - ${PODMAN_MARIADB_DATA_DIR_HOST}:${PODMAN_MARIADB_DATA_DIR_CONTAINER}:Z
      # Uncomment if you want to use a custom mariadb.conf file:
      # - ${PODMAN_MARIADB_CONF_FILE_HOST}:${PODMAN_MARIADB_CONF_FILE_CONTAINER}:ro,Z
    environment:
      - MARIADB_DATABASE=${MARIADB_DB}
      - MARIADB_USER=${MARIADB_USER}
      - MARIADB_PASSWORD=${MARIADB_PASSWORD}
      - MARIADB_ROOT_PASSWORD=${MARIADB_ROOT_PASSWORD}
      - MARIADB_AUTO_UPGRADE=${MARIADB_AUTO_UPGRADE}
  # https://hub.docker.com/_/mysql
  mysql:
    hostname: mysql
    image: ${PODMAN_MYSQL_IMAGE}
    restart: always
    profiles:
      - mysql
    networks:
      - backend
    labels:
      - "io.podman.compose.project=${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}"
      - "PODMAN_SYSTEMD_UNIT=podman-compose@${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}.service"
    user: "${PODMAN_USER_UID}:${PODMAN_GROUP_GID}"
    userns_mode: "keep-id"
    volumes:
      # private
      - ${PODMAN_MYSQL_DATA_DIR_HOST}:${PODMAN_MYSQL_DATA_DIR_CONTAINER}:Z
      # Uncomment if you want to use a custom mysql.conf file:
      # - ${PODMAN_MYSQL_CONF_FILE_HOST}:${PODMAN_MYSQL_CONF_FILE_CONTAINER}:ro,Z
    environment:
      - MYSQL_DATABASE=${MYSQL_DB}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_AUTO_UPGRADE=${MYSQL_AUTO_UPGRADE}
  # https://hub.docker.com/r/nginxinc/nginx-unprivileged
  nginx:
    hostname: nginx
    image: ${PODMAN_NGINX_IMAGE}
    restart: always
    networks:
      - backend
    labels:
      - "io.podman.compose.project=${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}"
      - "PODMAN_SYSTEMD_UNIT=podman-compose@${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}.service"
    user: "${PODMAN_USER_UID}:${PODMAN_GROUP_GID}"
    userns_mode: "keep-id"
    volumes:
      # private
      - ${PODMAN_NGINX_CONF_DIR_HOST}:${PODMAN_NGINX_CONF_DIR_CONTAINER}:ro,Z
      - ${PODMAN_SSL_DIR_HOST}:${PODMAN_NGINX_SSL_DIR_CONTAINER}:ro,Z
      # shared
      - ${PODMAN_NEXTCLOUD_DATA_DIR_HOST}:${PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER}:z
      - ${PODMAN_NEXTCLOUD_USER_DATA_DIR_HOST}:${PODMAN_NEXTCLOUD_USER_DATA_DIR_CONTAINER}:z
    ports:
      - 80:8080
      # - 80:80/udp
      - 443:8443
      # - 443:443/udp
  # https://hub.docker.com/_/php
  phpfpm:
    hostname: phpfpm
    restart: always
    networks:
      - backend
    labels:
      - "io.podman.compose.project=${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}"
      - "PODMAN_SYSTEMD_UNIT=podman-compose@${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}.service"
    user: "${PODMAN_USER_UID}:${PODMAN_GROUP_GID}"
    userns_mode: "keep-id"
    volumes:
      # shared
      - ${PODMAN_PHPFPM_CONF_FILE_HOST}:${PODMAN_PHPFPM_CONF_FILE_CONTAINER}:ro,z
      - ${PODMAN_PHPFPM_INI_FILE_HOST}:${PODMAN_PHPFPM_INI_FILE_CONTAINER}:ro,z
      - ${PODMAN_NEXTCLOUD_DATA_DIR_HOST}:${PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER}:z
      - ${PODMAN_NEXTCLOUD_USER_DATA_DIR_HOST}:${PODMAN_NEXTCLOUD_USER_DATA_DIR_CONTAINER}:z
    environment:
      - NC_dbpersistent=${NEXTCLOUD_PERSISTENT_DATABASE_CONNECTION}
      # - NC_trusted_domains=${NEXTCLOUD_TRUSTED_DOMAINS}
      - NC_datadirectory=${PODMAN_NEXTCLOUD_USER_DATA_DIR_CONTAINER}
      - NC_default_language=${NEXTCLOUD_DEFAULT_LANGUAGE}
      - NC_default_phone_region=${NEXTCLOUD_DEFAULT_PHONE_REGION}
      - NC_default_timezone=${NEXTCLOUD_DEFAULT_TIMEZONE}
      - NC_knowledgebaseenabled=${NEXTCLOUD_KNOWLEDGEBASE_ENABLED}
      - NC_allow_user_to_change_display_name=${NEXTCLOUD_ALLOW_USER_TO_CHANGE_DISPLAY_NAME}
      - NC_skeletondirectory=${NEXTCLOUD_SKELETON_DIRECTORY}
      - NC_templatedirectory=${NEXTCLOUD_TEMPLATE_DIRECTORY}
      - NC_remember_login_cookie_lifetime=${NEXTCLOUD_REMEMBER_LOGIN_COOKIE_LIFETIME}
      - NC_session_lifetime=${NEXTCLOUD_SESSION_LIFETIME}
      - NC_davstorage.request_timeout=${NEXTCLOUD_DAVSTORAGE_REQUEST_TIMEOUT}
      - NC_carddav_sync_request_timeout=${NEXTCLOUD_CARDDAV_SYNC_REQUEST_TIMEOUT}
      - NC_carddav_sync_request_truncation=${NEXTCLOUD_CARDDAV_SYNC_REQUEST_TRUNCATION}
      - NC_session_relaxed_expiry=${NEXTCLOUD_SESSION_RELAXED_EXPIRY}
      - NC_session_keepalive=${NEXTCLOUD_SESSION_KEEPALIVE}
    build:
      context: .
      dockerfile: "${PWD}/compose/phpfpm/phpfpm"
      args:
        PODMAN_PHPFPM_IMAGE: ${PODMAN_PHPFPM_IMAGE}
        PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER: ${PODMAN_NEXTCLOUD_DATA_DIR_CONTAINER}
  # https://hub.docker.com/_/postgres
  postgres:
    hostname: postgres
    image: ${PODMAN_POSTGRES_IMAGE}
    restart: always
    profiles:
      - postgres
    networks:
      - backend
    labels:
      - "io.podman.compose.project=${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}"
      - "PODMAN_SYSTEMD_UNIT=podman-compose@${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}.service"
    user: "${PODMAN_USER_UID}:${PODMAN_GROUP_GID}"
    userns_mode: "keep-id"
    volumes:
      # private
      - ${PODMAN_POSTGRES_DATA_DIR_HOST}:${PODMAN_POSTGRES_DATA_DIR_CONTAINER}:Z
      # Uncomment if you want to use a custom postgresql.conf file:
      # - ${PODMAN_POSTGRES_CONF_FILE_HOST}:${PODMAN_POSTGRES_CONF_FILE_CONTAINER}:ro,Z
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
  # https://hub.docker.com/r/valkey/valkey/
  redis:
    hostname: redis
    image: ${PODMAN_REDIS_IMAGE}
    restart: always
    profiles:
      - redis
    networks:
      - backend
    labels:
      - "io.podman.compose.project=${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}"
      - "PODMAN_SYSTEMD_UNIT=podman-compose@${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}.service"
    user: "${PODMAN_USER_UID}:${PODMAN_GROUP_GID}"
    userns_mode: "keep-id"
    command: ["sh", "-c", "redis-server", "${PODMAN_REDIS_CONF_FILE_CONTAINER}"]
    volumes:
      # private
      - ${PODMAN_REDIS_DATA_DIR_HOST}:${PODMAN_REDIS_DATA_DIR_CONTAINER}:Z
      # Uncomment if you want to use a custom redis.conf file:
      # - ${PODMAN_REDIS_CONF_FILE_HOST}:${PODMAN_REDIS_CONF_FILE_CONTAINER}:ro,Z
  # https://hub.docker.com/r/valkey/valkey/
  valkey:
    hostname: valkey
    image: ${PODMAN_VALKEY_IMAGE}
    restart: always
    profiles:
      - valkey
    networks:
      - backend
    labels:
      - "io.podman.compose.project=${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}"
      - "PODMAN_SYSTEMD_UNIT=podman-compose@${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}.service"
    user: "${PODMAN_USER_UID}:${PODMAN_GROUP_GID}"
    userns_mode: "keep-id"
    command: ["sh", "-c", "valkey-server", "${PODMAN_VALKEY_CONF_FILE_CONTAINER}"]
    volumes:
      # private
      - ${PODMAN_VALKEY_DATA_DIR_HOST}:${PODMAN_VALKEY_DATA_DIR_CONTAINER}:Z
      # Uncomment if you want to use a custom valkey.conf file:
      # - ${PODMAN_VALKEY_CONF_FILE_HOST}:${PODMAN_VALKEY_CONF_FILE_CONTAINER}:ro,Z
  # https://github.com/nextcloud/whiteboard
  whiteboard:
    hostname: whiteboard
    image: ${PODMAN_WHITEBOARD_IMAGE}
    restart: always
    networks:
      - backend
    labels:
      - "io.podman.compose.project=${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}"
      - "PODMAN_SYSTEMD_UNIT=podman-compose@${PODMAN_NAMESPACE}-${PODMAN_SERVICE}-${PODMAN_STAGE}.service"
    environment:
      - STORAGE_STRATEGY=${WHITEBOARD_STORAGE_STRATEGY}
      - NEXTCLOUD_URL=https://${NEXTCLOUD_DOMAIN}
      - JWT_SECRET_KEY=${WHITEBOARD_JWT_SECRET_KEY}
      - REDIS_URL=redis://${VALKEY_HOST}
